.stars-list {
	position: fixed;
	left: 600px;
	right: calc((100vw - 600px) / 3);
	padding: 1rem;
}

.stars-list-header {
	text-align: center;
	padding-bottom: 1rem;
	border-bottom: 1px solid #DDDDDD55;
	line-height: 2rem;
}
.stars-list-header * {
	vertical-align: middle;
}

.stars-list-header-text {
	display: inline-block;
	min-width: 12rem;
	padding-right: 2rem;
}

.stars-list input[type=range] {
	width: calc(100% - 15rem);
	min-width: 8rem;
	margin-right: 1rem;
}
.stars-list-form {
	margin-top: 0.5rem;
	min-width: 150px;
}