.resources-list {
	position: fixed;
	left: 0;
	top: 0;

	list-style: none;
	margin: 0;
	padding: 0rem;
	width: 600px;
	height: 100vh;
	border: 1px solid black;
}

.resource-list-item {
	border-bottom: 1px solid black;
	padding: 0.75rem;
}

.resources-list .resources-ingredients {
	padding: 0;
	margin: 0;
	list-style: none;
	padding-left: 1rem;
}

.resources-list .resource-name, .resources-list .resource-value, .resources-list .resource-prod, .resources-list .resources-ingredients, .resources-list .resource-manual-btn {
	display: inline-block;
	width: 20%;
	vertical-align: middle;
}

.resources-list .resource-name {
	text-align: left;
}
.resources-list .resource-value {
	text-align: center;
}
